<html>
    <head>
    </head>
    <body>
        <h1>Add new account</h1>
        <form action = "{{url_for("add_new_account")}}" method="POST">
            <h4>Account</h4>
            <input type = "text" name="name">
            <h4>Username</h4>
            <input type = "username" name = "username">
            <h4>Password</h4>
            <input type = "password" name = "password">
            <h4>Confirm Password</h4>
            <input type = "password" name = "confirm_password">

            <button type="submit">Add new account</button>
            
            <p>{{content}}</p>
        </form>
    </body>
</html>