body{
    background-color: white;
}
h1{
    text-align: center;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}

form {
    position: relative;
    margin: auto;
    border: none;
    text-align: center;
}

.forma button{
    position: relative;
    background-color: green;
    border: none;
    color: white;
    
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0.25cm;
}
.register_new_user{
    text-align: center;
    margin: auto;
}

.register_new_user a{
    position: relative;
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}